@font-face {
    font-family: 'Calibri';
    src: url('../fonts/..fonts/Calibri/Calibri.eot');
    src: url('../fonts/Calibri/Calibri.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibri/Calibri.woff2') format('woff2'),
        url('../fonts/Calibri/Calibri.woff') format('woff'),
        url('../fonts/Calibri/Calibri.ttf') format('truetype'),
        url('../fonts/Calibri/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AdobeGothicStd';
    src: url('../fonts/AdobeGothicStd/AdobeGothicStd.eot');
    src: url('../fonts/AdobeGothicStd/AdobeGothicStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeGothicStd/AdobeGothicStd.woff2') format('woff2'),
        url('../fonts/AdobeGothicStd/AdobeGothicStd.woff') format('woff'),
        url('../fonts/AdobeGothicStd/AdobeGothicStd.ttf') format('truetype'),
        url('../fonts/AdobeGothicStd/AdobeGothicStd.svg#AdobeGothicStd') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT/ArialMT.eot');
    src: url('../fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArialMT/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT/ArialMT.woff') format('woff'),
        url('../fonts/ArialMT/ArialMT.ttf') format('truetype'),
        url('../fonts/ArialMT/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
